@import "../variables";
@import "../mixins";

.excel__table {
    position: absolute;
    left: 0;
    right: 0;
    top: $header-height + $toolbar-height + $formula-height;
    overflow-x: auto;
    padding-bottom: 2px;

    .row {
        display: flex;
        flex-direction: row;
        min-height: 20px;
        height: $row-height;
    }

    .row-info {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: $info-cell-width;
        height: 100%;
        border: 1px solid $color-border;
        background: #f8f9fa;
        border-top: none;
        user-select: none;
    }

    .row-data {
        display: flex;
    }

    .column {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #f8f9fa;
        min-width: 40px;
        width: $cell-width;
        border: 1px solid $color-border;
        height: 100%;
        border-left: none;
        border-top: none;
        user-select: none;
    }

    .cell {
        min-width: 40px;
        padding: 5px;
        width: $cell-width;
        height: 100%;
        border: 1px solid #e2e3e3;
        border-left: none;
        border-top: none;
        color: #111;
        white-space: nowrap;

        &.selected {
            border: none;
            outline: 2px solid $color-border-focus;
            z-index: 2;
        }
    }

    .col-resize,
    .row-resize {
        position: absolute;
        bottom: 0;
        right: 0;
        background: $color-border-focus;
        opacity: 0;
        z-index: 1000;

        &:hover {
            opacity: 1 !important;
        }
    }

    .col-resize {
        top: 0;
        width: 4px;

        &:hover {
            cursor: ew-resize;
        }
    }

    .row-resize {
        left: 0;
        height: 4px;

        &:hover {
            cursor: ns-resize;
        }
    }
}