@mixin button($color: green) {
    height: 24px;
    min-width: 24px;
    padding: 3px;
    text-align: center;
    position: relative;
    display: inline-block;
    color: rgba(0, 0, 0, .7);
    transition: 0.3s;

    i {
        font-size: 18px;
    }

    &:active,
    .active {
        color: $color;
        transition: 0s;
    }

    &:hover {
        background: #eee;
        cursor: pointer;
        transition: 0s;
    }
}

@mixin clear-list() {
    list-style: none;
    margin: 0;
    padding: 0;
}