//sizes
$header-height: 34px;
$toolbar-height: 40px;
$formula-height: 24px;
$info-cell-width: 40px;
$cell-width:120px;
$row-height:24px;
$db-header-height:64px;
//colors
$color-border:#c0c0c0;
$color-border-focus:#1a73e8;
