// Libraries and Typography
//@import "~normalize.css";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// Other files
@import "excel/header";
@import "excel/toolbar";
@import "excel/formula";
@import "excel/table";
@import "dashboard/dashboard";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.excel {
    position: relative;
    color: #888;
    height: 100%;
    max-width: 100%;
    font-size: .8rem;
}